.movies-list__container {
  margin: 4rem auto;
  max-width: 1500px;
  width:90%;
}

/***** SEARCH BAR *****/

.movies-list__form {
  display: flex;
  align-items: center;
  gap: 1rem;
  width:100%;
  color:var(--color-grey);
}

.form__search-bar, .form__reset {
  display: flex;
  align-items: center;
  width:90%;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 2px 4px var(--color-box-shadow);
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
}

.form__search-bar {
  justify-content: space-between;
}

.search-bar__input input {
  padding: 0.6rem;
}

.search-bar__input input::placeholder {
  font-family: 'Alegreya Sans', sans-serif;
  color:var(--color-grey);
  font-size: 1rem;
}

.search-bar__button {
  padding-left: 1rem;
}

.form__reset {
  justify-content: center;
  padding: 0.6rem;
  width:10%;
}

.reset__button {
  color:var(--color-grey);
  text-transform: uppercase;
  font-size: 1rem;
}

/**** LIST MOVIES ****/ 

.movies__container {
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 2px 4px var(--color-box-shadow);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2.5rem;
    padding:2.5rem 0;
}

/**** CARD MOVIE ****/ 

.movie__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-whitesmoke);
  padding-bottom:2rem;
  box-shadow: 0 2px 4px var(--color-box-shadow);
  width:25%;
}

.movie__img {
  width:100%;
}

.movie__title {
  color:var(--color-black);
  font-size: 1.2rem;
  font-weight: 400;
  padding:0.4rem 0;
}

.movie__text {
  display: flex;
  flex-direction: row;
  color : var(--color-grey);

}

.movie__date {
  border-right: 1px solid var(--color-grey);
  padding-right: 1rem;
}

.movie__duration {
  padding-left: 1rem;
}
