/***** SEARCH BAR *****/

.form__search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.6rem 1rem;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 2px 4px var(--color-box-shadow);
  color: var(--color-grey);
}

.search-bar__input::placeholder {
  font-family: 'Alegreya Sans', sans-serif;
  color: var(--color-grey);
  font-size: 1rem;
}

/**** LIST MOVIES ****/

.movies__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 2.5rem 8%;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 2px 4px var(--color-box-shadow);
}

/**** CARD MOVIE ****/

.movie__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  background-color: var(--color-whitesmoke);
  box-shadow: 0 2px 4px var(--color-box-shadow);
}

.movie__img {
  width: 100%;
}

.movie__title {
  padding: 0.4rem 0;
  color: var(--color-black);
  font-size: 1.2rem;
  font-weight: 400;
}

.movie__text {
  display: flex;
  flex-direction: row;
  color: var(--color-grey);
}

.movie__date {
  padding-right: 1rem;
  border-right: 1px solid var(--color-grey);
}

.movie__duration {
  padding-left: 1rem;
}

@media (max-width: 1299px) {
  .movies__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 699px) {
  .movies__container {
    grid-template-columns: 1fr;
  }
}