<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/error.css">
    <title>Gibhliothèque</title>
</head>

<body>
    <div class="error__container">
        <div class="error__text">
            <p><%= message %></p>
            <a class="error__button" href="/">BACK</a>
        </div>
        <img class="error__img" src="/images/error.png" alt="error">
    </div>
</body>

</html>