<%- include('partials/headerIndex') %>
<body>
    <div class="home">
        <div class="home__container">
            <img class="home__logo" src="/images/logo.png" alt="Logo Ghibli">
            <h1 class="home__title">Ghibliotheque</h1>
            <p class="home__subtitle">Welcome to the Enchanting World of Studio Ghibli Films.</p>
            <a class="home__button" href="/movies">Enter</a>
        </div>    
    </div>
</body>
</html>