<%- include('partials/headerIndex') %>

    <main class="main">
        <img class="home-img" src="/images/logo.png" alt="Logo Ghibli">
        <a class="home-button" href="/films">Voir la Ghibliothèque</a>
    </main>
    </body>

    </html>